body {
  padding-top: 70px;
}

.jumbotron {
  background-color: #e9f5ff;
  margin-bottom: 0;
}

footer {
  margin-top: 40px;
}

.navbar-brand,
.nav-link,
.breadcrumb-item,
.btn,
h1,
h3,
h4,
h5 {
  display: inline-flex;
  align-items: center;
}

.oi {
  font-size: 14px;
}